html {
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  color: white;
}

.site-container,
.title,
.detail h4,
.footer {
  background-color: black;
}

.header {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.header p {
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
  font-size: 1rem;
}

.main-image {
  display: block;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  height: 25rem;
  background-size: cover;
}

.box {
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.text-box {
  background-color: black;
  margin-top: 9rem;
  width: 20rem;
  width: 45%;
}

.text-box p {
  padding-top: 2rem;
}

.text-box h2 {
  padding-top: 0.25rem;
  font-size: 2rem;
  padding-bottom: 2rem;
}

.text-box p,
.text-box h2 {
  padding-left: 3rem;
  font-weight: bold;
}

nav {
  background-color: firebrick;
}

nav ul {
  display: flex;
  align-items: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
}

.menu-button {
  display: none;
}

.container,
.copyright {
  max-width: 960px;
  margin: 0 auto;
}

.items,
.contacts {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;

}

.image-container,
.image-container.glasses {
  width: 30%;
}

.images {
  padding: 2rem 0;
  border: 4px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9rem;

}

.images img {
  max-height: 8rem;
}

.title,
.title.glasses {
  padding: 0.5rem 0;
  display: block;
  text-align: center;
}

.contacts {
  display: flex;
  align-items: space-between;
}

.detail {
  width: 35%;
}

.detail h4 {
  display: block;
  padding: 1rem 2rem;
}

.detail p {
  padding: 1rem 0;
  color: black;
}

.copyright {
  display: flex;
  text-align: left;
  height: 5rem;
  align-items: center;
  margin-top: 4rem;
}

@media only screen and (max-width: 1024px) {

  .header,
  .box,
  .container,
  .copyright {
    max-width: 960px;
    margin: 0 auto;
  }

.text-box h2 {
  font-size: 1.5rem;
}

.menu-button {
  display: flex;
  justify-content: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

nav ul {
  display: none;
}

.image-container {
  width: 47%;
}

#glasses {
  display: none;
}
}

@media only screen and (max-width: 470px) {

.main-image {
  height: 15rem;
}

.box {
  max-width: 470px;
}

.text-box {
  margin: 10rem 0;
  width: 100%;
  max-width: none;
}

.text-box p {
  font-size: 0.77rem;
  padding-top: 1rem;
}

.text-box h2 {
  font-size: 1rem;
}

.text-box p,
.text-box h2 {
  padding-left: 2rem;
  font-weight: bold;
}

#watch {
  display: none;
}

.image-container {
  width: 90%;
  margin: auto;
}

.contacts {
  display: block;
  justify-content: center;
}

.detail {
  width: 90%;
  margin-bottom: 0.5rem;
  margin: auto;
}

.copyright {
  justify-content: center;
}
}
